absl-py
# keep fontmake version pinned to ensure output from ttx_diff.py is stable;
# the 'repacker' option enables faster GSUB/GPOS serialization via uharfbuzz
fontmake[repacker]==3.10.0
# technically fonttools is in turn a dependency of fontmake but a few of
# our scripts import it directly, so we list it among the top-level requirements.
fonttools
lxml
cdifflib
glyphsLib
# keep gftools pinned as well to ensure ttx_diff.py output is stable.
# 0.9.74 is when experimental support for fontc was added to gftools.
gftools==0.9.83
