[package]
name = "fontbe"
version = "0.0.1"
edition = "2021"
license = "MIT/Apache-2.0"
description = "A compiler for fonts."
repository = "https://github.com/googlefonts/fontmake-rs"
readme = "README.md"
categories = ["text-processing", "parsing", "graphics"]

[features]

[dependencies]
fontdrasil = { version = "0.0.1", path = "../fontdrasil" }
fontir = { version = "0.0.1", path = "../fontir" }

serde = {version = "1.0", features = ["derive"] }
serde_yaml = "0.9.14"

thiserror = "1.0.37"
ordered-float = { version = "3.4.0", features = ["serde"] }
indexmap = "1.9.2"

log = "0.4"
env_logger = "0.10.0"

parking_lot = "0.12.1"

read-fonts = "0.1.3"
write-fonts = "0.1.7"

kurbo = { version = "0.9.2", features = ["serde"] }

fea-rs = "0.3.1"
smol_str = { version = "0.1.25", features = ["serde"] }

[dev-dependencies]
diff = "0.1.12"
ansi_term = "0.12.1"
tempfile = "3.3.0"
