[package]
name = "fontir"
version = "0.0.1"
edition = "2021"
license = "MIT/Apache-2.0"
description = "Intermediate Representation for font compilation."
repository = "https://github.com/googlefonts/fontmake-rs"
readme = "README.md"
categories = ["text-processing", "parsing", "graphics"]

[features]

[dependencies]
fontdrasil = { version = "0.0.1", path = "../fontdrasil" }

bitflags = "2.0"
serde = {version = "1.0", features = ["derive"] }
serde_yaml = "0.9.14"
bincode = "1.3.3"
filetime = "0.2.18"
thiserror = "1.0.37"

kurbo = { version = "0.9.2", features = ["serde"] }
ordered-float = { version = "3.4.0", features = ["serde"] }
indexmap = "1.9.2"
blake3 = "1.3.3"
log = "0.4"
env_logger = "0.10.0"
parking_lot = "0.12.1"

font-types = "0.1.3"
write-fonts = "0.1.8"  # for pens

[dev-dependencies]
diff = "0.1.12"
ansi_term = "0.12.1"
tempfile = "3.3.0"
