[package]
name = "fontc"
version = "0.0.1"
edition = "2021"
license = "MIT/Apache-2.0"
description = "A compiler for fonts."
repository = "https://github.com/googlefonts/fontmake-rs"
readme = "README.md"
categories = ["text-processing", "parsing", "graphics"]

[features]

[dependencies]
fontdrasil = { version = "0.0.1", path = "../fontdrasil" }
fontbe = { version = "0.0.1", path = "../fontbe" }
fontir = { version = "0.0.1", path = "../fontir" }
glyphs2fontir = { version = "0.0.1", path = "../glyphs2fontir" }
ufo2fontir = { version = "0.0.1", path = "../ufo2fontir" }
bitflags = "2.0"
serde = {version = "1.0", features = ["derive"] }
serde_yaml = "0.9.14"
bincode = "1.3.3"
filetime = "0.2.18"
clap = { version = "4.2.1", features = ["derive"] }
log = "0.4"
env_logger = "0.10.0"
thiserror = "1.0.37"

rayon = "1.6.0"
crossbeam-channel = "0.5.6"

regex = "1.7.1"

indexmap = "1.9.2"

write-fonts = "0.1.11"

[dev-dependencies]
diff = "0.1.12"
ansi_term = "0.12.1"
tempfile = "3.3.0"
read-fonts = "0.1.4"
pretty_assertions = "1.3.0"
skrifa = { git = "https://github.com/googlefonts/fontations.git" }
kurbo = { version = "0.9.2" }