on:
  pull_request:
    paths-ignore:
      - 'ttx_diff/**'
      - '.github/workflows/python.yml'
      - 'resources/scripts/requirements.in'
      - 'resources/scripts/requirements.txt'
  merge_group:
  push:
    branches:
      - main
    tags:
      - "*"
    paths-ignore:
      - 'ttx_diff/**'
      - '.github/workflows/python.yml'
      - 'resources/scripts/requirements.in'
      - 'resources/scripts/requirements.txt'

name: Continuous integration

# The check, clippy-lint, and test-stable-* jobs should typically be direct copies from
# https://github.com/googlefonts/fontations/blob/main/.github/workflows/rust.yml.
# other than the list of crates for cargo check no std

jobs:
  benchmark-fontc:
    runs-on: ubuntu-latest
    name: Run benchmarks.

    steps:
      - name: Check out fontc source repository
        uses: actions/checkout@v4

      - name: Install cargo criterion
        run: cargo install cargo-criterion

      - name: Checkout test font - Google Sans Code
        uses: actions/checkout@v4
        with:
          repository: 'googlefonts/googlesans-code'
          path: 'bench-fonts'

      - name: Check files in bench-fonts
        run: find bench-fonts/

      - name: Check files
        run: find .

      - name: Run benchmarks
        run: cargo criterion -p fontc
